<div class="header" >
    <span style="float:left;"><img class="logoImage" mat-card-image src="..\assets\tatvasoft-logo.jpg" alt="Logo of Tatvasoft"></span>
    <span style="float:right;">
        <a  mat-raised-button class="login" *ngIf = "!login" routerLink="/login" >Login</a>
        <a  mat-raised-button class="login" *ngIf = "login" (click)="logout()">Logout</a>
        <a  mat-raised-button class="register" *ngIf = "!login" routerLink="/register" >Sign In</a>
        <a  mat-raised-button class="cart" [disabled]="!login" (click)="cart()" >Cart</a>
        <a  mat-raised-button class="cart" [disabled]="!login" (click)="products()" >Products</a>
    </span>
</div>