.header{
    margin:50px 50px 10px 50px;
    height: 100px;
}
.logoImage{
    max-width: 300px;
    max-height: 50px;;
    margin: 20px;
}
.login{
    margin:20px 8px;
}
.register{
    margin:20px 8px;
}
.cart{
    margin:20px 8px;
}