.navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}
.mat-form-field{
    width: 400px;
}
.btn{
    margin-left: 30px;
    margin-bottom: 16px;
    height: 55px;
}