.title{
    text-align: center;
    margin: 20px 300px;
    font-size: 35px;
    font-weight: 500;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .btn{
      margin-left: 10px;
  }
  .addProduct{
      margin-top: 16px;
      width: fit-content;
  }